<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rovian Careers</title>
  <style>
    h1{
    font-size:40px;
    font-family:Roboto;
    font-weight:normal;
    color:rgb(50, 50, 50);
      text-align:center
    }
    #banner{
      width:100%;
      height:360px;
    }
    h2{
    font-size:32px;
    font-family:Roboto;
    font-weight:normal;
    color:rgb(100, 100, 100);
      text-align:center
    }
    .bodytext{
      font-family:Roboto;
      color:rgb(80, 80, 80);
      ;
    }
    #container{
      max-width:720px;
      margin:0 auto;
    }
  </style>
</head>
<body>
  <div id="container">
  <h1>Rovian Careers</h1>
  <img id="banner" src='https://0a778aa9-2a8d-439a-ac49-a95d1c373890-00-1cl3zhqftsj10.kirk.repl.co/static/banner.jpg'height="320">
  <h2>About Rovian</h2>
  <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <h2>Open Postions</h2>
  <p class="bodytext">TODO - Show the Jobs here </p>
    <div style='text-align: center;'>
  <button>Contact</button>
      <p>Copyright 2024, Rovian</p>
  </div>
</body>
</html>